html {
    font-family: sans-serif;
    font-size: large;

  }
  
  /* Your CSS below here */
div{
    margin: 40px;
    width: 600px;
    height: 600px;
    background-color: aqua;
    border-radius: 20%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
